.bluegenesToolBioactivityGraph {
  .rootContainer {
    padding: 10px;
  }

	/* overall CSS for the entire Graph Area */
	.targetMineBioActivityGraph{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 400px;
		justify-content: center;
	}

	/* definitions for the SVG (left) area of the graph */
	.targetMineBioActivityGraphSVG{
		flex-grow: 1;
		width: 100%;
		height: inherit;
	}

	/* definitions for the controls (right) area of the graph */
	.rightColumn{
		display: flex;
		flex-direction: column;
		width: 20%;
		background-color: #f9f9f9;
		justify-content: space-evenly;
	}

	.flex-row{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.row-input{
		align-self: baseline;
	}
	.row-cell{
		width: 10%;
		min-width: 10px;
		max-width: 100px;
		height: 20px;
	}
	.row-label{
		justify-content: left;
		width: 80%;
	}
	.row-close{
		color: #aaa;
		width: 10%;
		height: 20px;
		cursor: pointer;
	}

	/* definitions for the modal area of the graph */
	.im-modal{
		display: none;
	}
}
